body {
    background-color: darkred;
}

header {
    display: flex;
    justify-content: center;
    gap: 33%;
    color: white
}

.header-text {
    padding: 8px;
    background-color: goldenrod;
}

#week-list {
    background-color: goldenrod;
    text-align: center;
}