* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.header_text {
    padding-bottom: 8px;
    padding-top: 8px;
}

.week {
    font-size: 3em;
}

.date {
    font-size: 1em;
}

body {
    background-color: rgb(210, 210, 211);
}

main {
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    left: 0;
    right: 0;
    height: 90%;
    padding: 25px;
    background-color: white;
}

.content {
    font-size: 15pt;
}

.content p {
    margin: 25px;
}
